<div class="flex items-center justify-center h-screen bg-green-500 border-8 border-purple-700">
  <a href="/login" class="text-9xl font-bold text-purple-700 py-12 px-24 rounded-md hover:bg-green-600 hover:text-purple-500 animate-scale" style="border: none; background-color: transparent;">
    Elementhal
  </a>
</div>

<style>
  @keyframes scale-animation {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); /* Cambia el tamaño aquí */
    }
  }

  .animate-scale {
    animation: scale-animation 2s infinite; /* Duración de la animación y que se repita infinitamente */
  }
</style>
